<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <welcome-file-list>
    <welcome-file>home</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>signup</servlet-name>
    <servlet-class>SignUpServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editEmployee</servlet-name>
    <servlet-class>editEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteEmployee</servlet-name>
    <servlet-class>deleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addExistingEmployee</servlet-name>
    <servlet-class>AddExistingEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addNewEmployee</servlet-name>
    <servlet-class>AddNewEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>salesReport</servlet-name>
    <servlet-class>SalesReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>produceListOfDates</servlet-name>
    <servlet-class>ProduceListOfDatesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>peopleWhoDatedAParticular</servlet-name>
    <servlet-class>PeopleWhoDatedAParticularServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>custRepRecordDate</servlet-name>
    <servlet-class>CustRepRecordDateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>customerRevenue</servlet-name>
    <servlet-class>CustomerRevenueServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addNewCustomer</servlet-name>
    <servlet-class>AddNewCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addExistingCustomer</servlet-name>
    <servlet-class>AddExistingCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editCustomer</servlet-name>
    <servlet-class>EditCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteCustomer</servlet-name>
    <servlet-class>deleteCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addDate</servlet-name>
    <servlet-class>AddDateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>commentOnDate</servlet-name>
    <servlet-class>CommentOnDateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>cancelDate</servlet-name>
    <servlet-class>cancelDateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addGeoDate</servlet-name>
    <servlet-class>AddGeoDateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>setGeoLocation</servlet-name>
    <servlet-class>SetGeoLocationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>removeGeoLocation</servlet-name>
    <servlet-class>RemoveGeoLocationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>likeProfile</servlet-name>
    <servlet-class>LikeProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>blindDate</servlet-name>
    <servlet-class>BlindDateServlet</servlet-class>
  </servlet>
  
</web-app>